In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import time
import datetime

In [117]:
#import instagram csv file
df= pd.read_csv('instagram_data.csv')

/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_15736/2020262173.py:1: DtypeWarning: Columns (0,2,3,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('instagram_data.csv')

In [118]:
df.head()

,Unnamed: 0,id,owner_id,is_video,timestamp,caption,like_count,comment_disabled,comment_count
0,0,1.806152e+18,50884856,False,1.529530e+09,Follow the movement and get my EP #MYEX on @it...,1160.0,False,0.0
1,1,1.778527e+18,14446047,False,1.526237e+09,These sunnies are going to be my summer favs! ...,172.0,False,11.0
2,2,1.913546e+18,299170460,False,1.542332e+09,What do you think of these #glasses that I got...,20.0,False,1.0
3,3,2.002372e+18,2217874,False,1.552921e+09,Fancy for the night ðŸ’µ @fashionnovacurve .\n.\n...,3416.0,False,40.0
4,4,1.735701e+18,1487840452,False,1.521132e+09,Staying cozy wearing @tartecosmetics eyeshadow...,143.0,False,4.0

In [75]:
# basic info run
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542181 entries, 0 to 2542180
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        object
 1   id                float64
 2   owner_id          object
 3   is_video          object
 4   timestamp         float64
 5   caption           object
 6   like_count        float64
 7   comment_disabled  object
 8   comment_count     float64
dtypes: float64(4), object(5)
memory usage: 174.6+ MB

In [119]:
#make a copy of the datframe
insta = df.copy()

In [134]:
# check the nulls
insta.isnull().sum()

Unnamed: 0                0
id                   501966
owner_id             501966
is_video             501966
timestamp            502090
caption              509195
like_count          1013365
comment_disabled    1013365
comment_count       1013365
dtype: int64

In [121]:
# timestamp column is in epoch format
# convert the epoch time to US central date time
df['timestamp'] = (pd.to_datetime(df['timestamp'], unit='s')
                     .dt.tz_localize('utc')
                     .dt.tz_convert('US/Central'))

In [122]:
# drop unwanted columns
df= df.drop(columns=['Unnamed: 0','id','owner_id'])
df.head()

,is_video,timestamp,caption,like_count,comment_disabled,comment_count
0,False,2018-06-20 16:29:05-05:00,Follow the movement and get my EP #MYEX on @it...,1160.0,False,0.0
1,False,2018-05-13 13:43:40-05:00,These sunnies are going to be my summer favs! ...,172.0,False,11.0
2,False,2018-11-15 19:41:19-06:00,What do you think of these #glasses that I got...,20.0,False,1.0
3,False,2019-03-18 10:02:58-05:00,Fancy for the night ðŸ’µ @fashionnovacurve .\n.\n...,3416.0,False,40.0
4,False,2018-03-15 11:35:37-05:00,Staying cozy wearing @tartecosmetics eyeshadow...,143.0,False,4.0

In [123]:
df.head()

,is_video,timestamp,caption,like_count,comment_disabled,comment_count
0,False,2018-06-20 16:29:05-05:00,Follow the movement and get my EP #MYEX on @it...,1160.0,False,0.0
1,False,2018-05-13 13:43:40-05:00,These sunnies are going to be my summer favs! ...,172.0,False,11.0
2,False,2018-11-15 19:41:19-06:00,What do you think of these #glasses that I got...,20.0,False,1.0
3,False,2019-03-18 10:02:58-05:00,Fancy for the night ðŸ’µ @fashionnovacurve .\n.\n...,3416.0,False,40.0
4,False,2018-03-15 11:35:37-05:00,Staying cozy wearing @tartecosmetics eyeshadow...,143.0,False,4.0

In [124]:
# make a function for instagram preparation 
def insta_prep(df):
    # converting the timestamp column to US central datetime from epoch time format
    df['timestamp'] = (pd.to_datetime(df['timestamp'], unit='s')
                     .dt.tz_localize('utc')
                     .dt.tz_convert('US/Central'))
    # drop not needed functions
    df= df.drop(columns=['Unnamed: 0','id','owner_id', 'comment_disabled'])
    return df

In [125]:
df1 = insta_prep(insta)

In [126]:
df1.head()

,is_video,timestamp,caption,like_count,comment_disabled,comment_count
0,False,2018-06-20 16:29:05-05:00,Follow the movement and get my EP #MYEX on @it...,1160.0,False,0.0
1,False,2018-05-13 13:43:40-05:00,These sunnies are going to be my summer favs! ...,172.0,False,11.0
2,False,2018-11-15 19:41:19-06:00,What do you think of these #glasses that I got...,20.0,False,1.0
3,False,2019-03-18 10:02:58-05:00,Fancy for the night ðŸ’µ @fashionnovacurve .\n.\n...,3416.0,False,40.0
4,False,2018-03-15 11:35:37-05:00,Staying cozy wearing @tartecosmetics eyeshadow...,143.0,False,4.0

In [131]:
df1.timestamp.describe()

/var/folders/h9/174nr99d0zl_7cgtzqpv_gzw144wkq/T/ipykernel_15736/117626836.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df1.timestamp.describe()

count                       2040091
unique                      1500050
top       2018-07-24 13:23:03-05:00
freq                          65336
first     2011-09-28 01:42:20-05:00
last      2019-05-07 19:01:07-05:00
Name: timestamp, dtype: object

In [143]:
df1.isnull().sum()

is_video             501966
timestamp            502090
caption              509195
like_count          1013365
comment_disabled    1013365
comment_count       1013365
dtype: int64

In [140]:
df1[(df1.timestamp < '2020') & (df1.timestamp>'2019')].like_count.mean()

5033.863272805178

In [141]:
df1[(df1.timestamp < '2019') & (df1.timestamp>'2018')].like_count.mean()

4530.000964243556

In [142]:
df1[(df1.timestamp < '2018') & (df1.timestamp>'2017')].like_count.mean()

3201.3840768934847

In [144]:
import unicodedata
import re
import json

# nltk: natural language toolkit -> tokenization, stopwords (more on this soon)
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

In [145]:
def basic_clean(text):
    '''
    This function returns a normalized lowercase version of input text.
    '''
    text = text.lower()

    text = unicodedata.normalize('NFKD', text)\
             .encode('ascii', 'ignore')\
             .decode('utf-8', 'ignore')
    text = re.sub(r'[^\w\s]', '', text).lower()
    text = re.sub(r'\w*\n\w*', '', text)
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    return text


def tokenize(text):
    '''
    This function returns a tokenized version of the input text.
    '''
    tokenizer = nltk.tokenize.ToktokTokenizer()
    text = tokenizer.tokenize(text, return_str=True)
    return text


def stem(text):
    '''
    This function returns a stemmed text.
    '''
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in text.split()]
    text = ' '.join(stems)    
    return text


def lemmatize(text):
    '''
    This function returns a lemmatized version of the input text.
    '''
    wnl = nltk.stem.WordNetLemmatizer()
    lemmas = [wnl.lemmatize(word) for word in text.split()]
    text = ' '.join(lemmas)    
    return text


def remove_stopwords(text, extra_words = [], exclude_words = []):
    '''
    This function limits the output of words with parameters set in place to exclude words 
    and add extra words ontop of the stopwords .
    '''
    stopword_list = stopwords.words('english')
    stopword_list = set(stopword_list) - set(exclude_words)
    stopword_list = stopword_list.union(set(extra_words))
    words = text.split()
    filtered_words = [word for word in words if word not in stopword_list]
    text_without_stopwords = ' '.join(filtered_words)    
    return text_without_stopwords

In [148]:
df['caption']= df['caption'].astype('string')

In [158]:
df1['caption']= df['caption'].astype('string')

In [151]:
df1.dropna(inplace= True)

In [154]:
df1.isnull()

,is_video,timestamp,caption,like_count,comment_disabled,comment_count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
2542176,False,False,False,False,False,False
2542177,False,False,False,False,False,False
2542178,False,False,False,False,False,False
2542179,False,False,False,False,False,False
2542180,False,False,False,False,False,False

In [153]:
df1.isnull().sum()

is_video            0
timestamp           0
caption             0
like_count          0
comment_disabled    0
comment_count       0
dtype: int64

In [159]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1521711 entries, 0 to 2542180
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   is_video          1521711 non-null  object
 1   timestamp         1521711 non-null  datetime64[ns, US/Central]
 2   caption           1521711 non-null  string
 3   like_count        1521711 non-null  float64
 4   comment_disabled  1521711 non-null  object
 5   comment_count     1521711 non-null  float64
dtypes: datetime64[ns, US/Central](1), float64(2), object(2), string(1)
memory usage: 81.3+ MB

In [161]:
df1[df1.caption == 'NAType']

Empty DataFrame
Columns: [is_video, timestamp, caption, like_count, comment_disabled, comment_count]
Index: []

In [162]:
df1['cleaned']= df1['caption'].apply(lambda x:remove_stopwords(tokenize(basic_clean(x))))

In [165]:
df1['stemmed'] = df1['cleaned'].apply(lambda x: stem(x))

In [166]:
df1['lemmatized'] = df1['cleaned'].apply(lambda x:lemmatize(x))

In [169]:
df1.head()

,is_video,timestamp,caption,like_count,comment_disabled,comment_count,cleaned,stemmed,lemmatized
0,False,2018-06-20 16:29:05-05:00,Follow the movement and get my EP #MYEX on @it...,1160.0,False,0.0,follow movement get ep myex itunes apple atl a...,follow movement get ep myex itun appl atl atlanta,follow movement get ep myex itunes apple atl a...
1,False,2018-05-13 13:43:40-05:00,These sunnies are going to be my summer favs! ...,172.0,False,11.0,sunnies going summer favs 20 screenshot shop p...,sunni go summer fav 20 screenshot shop pic lik...,sunnies going summer favs 20 screenshot shop p...
2,False,2018-11-15 19:41:19-06:00,What do you think of these #glasses that I got...,20.0,False,1.0,think glasses got new babbleboxxofficial madef...,think glass got new babbleboxxoffici madeforma...,think glass got new babbleboxxofficial madefor...
3,False,2019-03-18 10:02:58-05:00,Fancy for the night ðŸ’µ @fashionnovacurve . . . ...,3416.0,False,40.0,fancy night fashionnovacurve love instagood ph...,fanci night fashionnovacurv love instagood pho...,fancy night fashionnovacurve love instagood ph...
4,False,2018-03-15 11:35:37-05:00,Staying cozy wearing @tartecosmetics eyeshadow...,143.0,False,4.0,staying cozy wearing tartecosmetics eyeshadow ...,stay cozi wear tartecosmet eyeshadow warm tart...,staying cozy wearing tartecosmetics eyeshadow ...

In [178]:
len(df1.caption[df1.caption.str.contains('#fashion')])

142142

In [179]:
len(df1.caption[df1.caption.str.contains('#fitness')])

24429

In [182]:
len(df1.caption[df1.caption.str.contains('#humor')])

167

In [181]:
len(df1.caption[df1.caption.str.contains('#foodlover')])

3200

In [183]:
len(df1.caption[df1.caption.str.contains('#lmao')])

211

In [184]:
len(df1.caption[df1.caption.str.contains('#humornegro')])

1

In [186]:
from wordcloud import WordCloud